# Insights from Stack Overflow Developer Survey 2023

**Summary:**

> In this notebook, we will delve into the Stack Overflow Developer Survey 2023 data to uncover valuable insights about the developer community. We will explore **demographics**, **popular technologies**, **career trends**, and **work preferences** among developers. Our analysis will leverage Python's powerful data manipulation and visualization libraries, including pandas, numpy, matplotlib, and seaborn.

**Scope:**

This analysis aims to provide a comprehensive overview of key trends and patterns within the developer community. We will:

 * Examine the demographic profiles of survey respondents.
 * Identify the most popular programming languages and tools.
 * Analyze salary distributions and factors influencing compensation.
 * Explore work preferences and professional development trends.

**Note :** This notebook is designed to be extendable, allowing for the addition of further insights and analyses as needed. Future additions might include deeper dives into specific subgroups, sentiment analysis of open-ended responses, and predictive modeling of career outcomes.

**Data Sources:**

* [Stack Overflow Developer Survey 2023 Results](https://survey.stackoverflow.co/): The primary dataset for this analysis, which includes responses from developers worldwide.

In [1]:
# Importing the libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# 1. Loading data
survey_schema_raw = pd.read_csv('dataset/survey_results_schema.csv')
survey_responses_raw = pd.read_csv('dataset/survey_results_public.csv')

In [3]:
survey_schema_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   qid         78 non-null     object
 1   qname       78 non-null     object
 2   question    78 non-null     object
 3   force_resp  67 non-null     object
 4   type        78 non-null     object
 5   selector    78 non-null     object
dtypes: object(6)
memory usage: 3.8+ KB

In [4]:
survey_schema_raw.head(30)

,qid,qname,question,force_resp,type,selector
0,QID16,S0,"<div><span style=""font-size:19px;""><strong>Hel...",False,DB,TB
1,QID12,MetaInfo,Browser Meta Info,False,Meta,Browser
2,QID310,Q310,"<div><span style=""font-size:19px;""><strong>You...",False,DB,TB
3,QID312,Q120,,True,MC,SAVR
4,QID1,S1,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
5,QID2,MainBranch,Which of the following options best describes ...,True,MC,SAVR
6,QID127,Age,What is your age? *,True,MC,MAVR
7,QID296,Employment,Which of the following best describes your cur...,False,MC,MAVR
8,QID308,RemoteWork,Which best describes your current work situation?,False,MC,SAVR
9,QID297,CodingActivities,Which of the following best describes the code...,False,MC,MAVR
10,QID190,S2,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
11,QID25,EdLevel,Which of the following best describes the high...,True,MC,SAVR
12,QID276,LearnCode,How do you learn to code? Select all that apply.,False,MC,MAVR
13,QID281,LearnCodeOnline,What online resources do you use to learn to c...,False,MC,MAVR
14,QID306,LearnCodeCoursesCert,What online courses or certifications do you u...,False,MC,MAVR
15,QID32,YearsCode,"Including any education, how many years have y...",False,MC,DL
16,QID34,YearsCodePro,"NOT including education, how many years have y...",False,MC,DL
17,QID31,DevType,Which of the following describes your current ...,False,MC,SAVR
18,QID29,OrgSize,Approximately how many people are employed by ...,False,MC,SAVR
19,QID278,PurchaseInfluence,"What level of influence do you, personally, ha...",False,MC,SAVR
20,QID322,TechList,When thinking about new technology purchases a...,False,MC,SAVR
21,QID279,BuyNewTool,"When buying a new tool or software, how do you...",False,MC,MAVR
22,QID6,Country,"Where do you live? <span style=""font-weight: b...",True,MC,DL
23,QID50,Currency,Which currency do you use day-to-day? If your ...,True,MC,DL
24,QID51,CompTotal,What is your current total <b>annual</b> compe...,False,TE,SL
25,QID61,S3,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
26,QID233,Language,"Which <b>programming, scripting, and markup la...",False,Matrix,Likert
27,QID262,Database,Which <b>database environments </b>have you do...,False,Matrix,Likert
28,QID263,Platform,Which <b>cloud platforms</b> have you done ext...,False,Matrix,Likert
29,QID264,Webframe,Which <b>web frameworks and web technologies</...,False,Matrix,Likert

In [5]:
survey_schema_raw.loc[2].question

'<div><span style="font-size:19px;"><strong>You consent to providing your information to help us stay privacy compliant</strong></span></div>\n\n<div> </div>\n\n<div>Your participation in this survey is completely anonymous.  As in previous years, anonymized results of the survey will be made publicly available under the Open Database License, where anyone can download and analyze the data. On that note, throughout the survey, certain answers you and your peers give will be treated as personally identifiable information, and therefore kept out of the anonymized results file.  The information gathered via this survey is made available to the public in the spirit of community which Stack Overflow was founded and to serve as a resource for everyone who codes. </div><div><br></div><div>By selecting "I agree" and submitting this survey, you acknowledge that you voluntarily consent to your anonymous answers being made publicly available.\n</div>'

In [6]:
survey_responses_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89184 entries, 0 to 89183
Data columns (total 84 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   ResponseId                           89184 non-null  int64
 1   Q120                                 89184 non-null  object
 2   MainBranch                           89184 non-null  object
 3   Age                                  89184 non-null  object
 4   Employment                           87898 non-null  object
 5   RemoteWork                           73810 non-null  object
 6   CodingActivities                     73764 non-null  object
 7   EdLevel                              87973 non-null  object
 8   LearnCode                            87663 non-null  object
 9   LearnCodeOnline                      70084 non-null  object
 10  LearnCodeCoursesCert                 37076 non-null  object
 11  YearsCode                            87435 non-null  object
 12  YearsCodePro                         66136 non-null  object
 13  DevType                              76872 non-null  object
 14  OrgSize                              65043 non-null  object
 15  PurchaseInfluence                    64964 non-null  object
 16  TechList                             60851 non-null  object
 17  BuyNewTool                           83009 non-null  object
 18  Country                              87973 non-null  object
 19  Currency                             65334 non-null  object
 20  CompTotal                            48225 non-null  float64
 21  LanguageHaveWorkedWith               87140 non-null  object
 22  LanguageWantToWorkWith               80709 non-null  object
 23  DatabaseHaveWorkedWith               73435 non-null  object
 24  DatabaseWantToWorkWith               60911 non-null  object
 25  PlatformHaveWorkedWith               63628 non-null  object
 26  PlatformWantToWorkWith               51308 non-null  object
 27  WebframeHaveWorkedWith               66938 non-null  object
 28  WebframeWantToWorkWith               56741 non-null  object
 29  MiscTechHaveWorkedWith               57019 non-null  object
 30  MiscTechWantToWorkWith               46848 non-null  object
 31  ToolsTechHaveWorkedWith              77884 non-null  object
 32  ToolsTechWantToWorkWith              68315 non-null  object
 33  NEWCollabToolsHaveWorkedWith         85864 non-null  object
 34  NEWCollabToolsWantToWorkWith         76649 non-null  object
 35  OpSysPersonal use                    86557 non-null  object
 36  OpSysProfessional use                78587 non-null  object
 37  OfficeStackAsyncHaveWorkedWith       69090 non-null  object
 38  OfficeStackAsyncWantToWorkWith       53743 non-null  object
 39  OfficeStackSyncHaveWorkedWith        83439 non-null  object
 40  OfficeStackSyncWantToWorkWith        69776 non-null  object
 41  AISearchHaveWorkedWith               56328 non-null  object
 42  AISearchWantToWorkWith               46150 non-null  object
 43  AIDevHaveWorkedWith                  25904 non-null  object
 44  AIDevWantToWorkWith                  19587 non-null  object
 45  NEWSOSites                           87973 non-null  object
 46  SOVisitFreq                          87140 non-null  object
 47  SOAccount                            87852 non-null  object
 48  SOPartFreq                           66061 non-null  object
 49  SOComm                               87692 non-null  object
 50  SOAI                                 47858 non-null  object
 51  AISelect                             87973 non-null  object
 52  AISent                               61501 non-null  object
 53  AIAcc                                38594 non-null  object
 54  AIBen                                61396 non-null  object
 55  AIToolInterested in Using            32783 non-null  object
 56  AIToolCurrently Using                36137 non-null  object
 57  AIToolNot interested in Using        21069 non-null  object
 58  AINextVery different                 12661 non-null  object
 59  AINextNeither different nor similar  6599 non-null   object
 60  AINextSomewhat similar               6238 non-null   object
 61  AINextVery similar                   2621 non-null   object
 62  AINextSomewhat different             23303 non-null  object
 63  TBranch                              65768 non-null  object
 64  ICorPM                               43668 non-null  object
 65  WorkExp                              43579 non-null  float64
 66  Knowledge_1                          42535 non-null  object
 67  Knowledge_2                          41670 non-null  object
 68  Knowledge_3                          41798 non-null  object
 69  Knowledge_4                          41684 non-null  object
 70  Knowledge_5                          41527 non-null  object
 71  Knowledge_6                          41520 non-null  object
 72  Knowledge_7                          41467 non-null  object
 73  Knowledge_8                          41404 non-null  object
 74  Frequency_1                          41916 non-null  object
 75  Frequency_2                          41925 non-null  object
 76  Frequency_3                          41054 non-null  object
 77  TimeSearching                        42778 non-null  object
 78  TimeAnswering                        42629 non-null  object
 79  ProfessionalTech                     41783 non-null  object
 80  Industry                             36774 non-null  object
 81  SurveyLength                         86485 non-null  object
 82  SurveyEase                           86554 non-null  object
 83  ConvertedCompYearly                  48019 non-null  float64
dtypes: float64(3), int64(1), object(80)
memory usage: 57.2+ MB

In [7]:
survey_responses_raw.head()

,ResponseId,Q120,MainBranch,Age,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,ProfessionalTech,Industry,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I agree,None of these,18-24 years old,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I agree,I am a developer by profession,25-34 years old,"Employed, full-time",Remote,Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;Friend or fam...,Formal documentation provided by the owner of ...,...,1-2 times a week,10+ times a week,Never,15-30 minutes a day,15-30 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,285000.0
2,3,I agree,I am a developer by profession,45-54 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Professional development or self-paced l...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Formal documentation provided by the owner of ...,...,6-10 times a week,6-10 times a week,3-5 times a week,30-60 minutes a day,30-60 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,250000.0
3,4,I agree,I am a developer by profession,25-34 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;Friend or family member;Other online...,Formal documentation provided by the owner of ...,...,1-2 times a week,10+ times a week,1-2 times a week,15-30 minutes a day,30-60 minutes a day,Automated testing;Continuous integration (CI) ...,NaN,Appropriate in length,Easy,156000.0
4,5,I agree,I am a developer by profession,25-34 years old,"Employed, full-time;Independent contractor, fr...",Remote,Hobby;Contribute to open-source projects;Profe...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Online Courses or Certi...,Formal documentation provided by the owner of ...,...,1-2 times a week,1-2 times a week,3-5 times a week,60-120 minutes a day,30-60 minutes a day,Microservices;Automated testing;Observability ...,Other,Appropriate in length,Neither easy nor difficult,23456.0

In [10]:
# Extracting question(s) text from raw schema
survey_questions = pd.read_csv('dataset/survey_results_schema.csv', index_col='qname').question

In [12]:
survey_questions.head(10)

qname
S0                  <div><span style="font-size:19px;"><strong>Hel...
MetaInfo                                            Browser Meta Info
Q310                <div><span style="font-size:19px;"><strong>You...
Q120
S1                  <span style="font-size:22px; font-family: aria...
MainBranch          Which of the following options best describes ...
Age                                               What is your age? *
Employment          Which of the following best describes your cur...
RemoteWork          Which best describes your current work situation?
CodingActivities    Which of the following best describes the code...
Name: question, dtype: object

In [14]:
survey_questions['RemoteWork']

'Which best describes your current work situation?'

In [16]:
survey_questions['CodingActivities']

'Which of the following best describes the code you write outside of work? Select all that apply.'

In [17]:
survey_responses_raw['RemoteWork'].head()

0                                     NaN
1                                  Remote
2    Hybrid (some remote, some in-person)
3    Hybrid (some remote, some in-person)
4                                  Remote
Name: RemoteWork, dtype: object

In [18]:
survey_responses_raw['CodingActivities'].head()

0                                                  NaN
1    Hobby;Contribute to open-source projects;Boots...
2    Hobby;Professional development or self-paced l...
3                                                Hobby
4    Hobby;Contribute to open-source projects;Profe...
Name: CodingActivities, dtype: object

In [19]:
# Let's analyze our respondent's coding activities

# Step 1: Break down the `CodingActivities` column into multiple columns (by creating a new dataframe).

# Step 2: Visualize different columns using a Pie-chart.

In [ ]:
def split_multicolumn(col_series):
    result_df = col_series.to_frame()
    options = []
    # Iterate over the column
    for idx, value  in col_series[col_series.notnull()].iteritems():
        # Break each value into list of options
        for option in value.split(';'):
            # Add the option as a column to result
            if not option in result_df.columns:
                options.append(option)
                result_df[option] = False
            # Mark the value in the option column as True
            result_df.at[idx, option] = True
    return result_df[options]

In [20]:
temp_df = survey_responses_raw['CodingActivities'].to_frame()
temp_df

                                        CodingActivities
0                                                    NaN
1      Hobby;Contribute to open-source projects;Boots...
2      Hobby;Professional development or self-paced l...
3                                                  Hobby
4      Hobby;Contribute to open-source projects;Profe...
...                                                  ...
89179  Hobby;Bootstrapping a business;Freelance/contr...
89180                            School or academic work
89181                                                NaN
89182                      Hobby;School or academic work
89183  Hobby;Professional development or self-paced l...

[89184 rows x 1 columns]

In [29]:
options = []

for idx, val in survey_responses_raw['CodingActivities'][survey_responses_raw['CodingActivities'].notnull()].items():
    # print(idx, val)

    for option in val.split(';'):
        # print(option)

        if not option in temp_df.columns:
            options.append(option)
            temp_df[option] = False

        temp_df.at[idx, option] = True

    if idx > 2:
        break

In [30]:
temp_df

,CodingActivities,Hobby,Contribute to open-source projects,Bootstrapping a business,Professional development or self-paced learning from online courses
0,NaN,False,False,False,False
1,Hobby;Contribute to open-source projects;Boots...,True,True,True,True
2,Hobby;Professional development or self-paced l...,True,False,False,True
3,Hobby,True,False,False,False
4,Hobby;Contribute to open-source projects;Profe...,False,False,False,False
...,...,...,...,...,...
89179,Hobby;Bootstrapping a business;Freelance/contr...,False,False,False,False
89180,School or academic work,False,False,False,False
89181,NaN,False,False,False,False
89182,Hobby;School or academic work,False,False,False,False
89183,Hobby;Professional development or self-paced l...,False,False,False,False

In [31]:
temp_df.at[3, 'Contribute to open-source projects'] = True

In [32]:
temp_df

,CodingActivities,Hobby,Contribute to open-source projects,Bootstrapping a business,Professional development or self-paced learning from online courses
0,NaN,False,False,False,False
1,Hobby;Contribute to open-source projects;Boots...,True,True,True,True
2,Hobby;Professional development or self-paced l...,True,False,False,True
3,Hobby,True,True,False,False
4,Hobby;Contribute to open-source projects;Profe...,False,False,False,False
...,...,...,...,...,...
89179,Hobby;Bootstrapping a business;Freelance/contr...,False,False,False,False
89180,School or academic work,False,False,False,False
89181,NaN,False,False,False,False
89182,Hobby;School or academic work,False,False,False,False
89183,Hobby;Professional development or self-paced l...,False,False,False,False

In [33]:
temp_df.at[3, 'Contribute'] = True

In [34]:
temp_df

,CodingActivities,Hobby,Contribute to open-source projects,Bootstrapping a business,Professional development or self-paced learning from online courses,Contribute
0,NaN,False,False,False,False,NaN
1,Hobby;Contribute to open-source projects;Boots...,True,True,True,True,NaN
2,Hobby;Professional development or self-paced l...,True,False,False,True,NaN
3,Hobby,True,True,False,False,True
4,Hobby;Contribute to open-source projects;Profe...,False,False,False,False,NaN
...,...,...,...,...,...,...
89179,Hobby;Bootstrapping a business;Freelance/contr...,False,False,False,False,NaN
89180,School or academic work,False,False,False,False,NaN
89181,NaN,False,False,False,False,NaN
89182,Hobby;School or academic work,False,False,False,False,NaN
89183,Hobby;Professional development or self-paced l...,False,False,False,False,NaN